<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        Home template. is AngularJS working? [{{1+1===2}}]
        <demo></demo>
    </body>
</html>
